@import url(./styles/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 8, 8, 8;
  --secondary-rgb: 233, 233, 233;
  --accent-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-rgb));
}

* {
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--primary-rgb));
  background: rgb(var(--secondary-rgb));
  font-family: "Archivo";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .h-screen {
    height: 100svh;
  }
}
